# Importing Required Libraries

In [95]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading Data Set

In [96]:
churn=pd.read_csv('C:/Users/Arun/Desktop/DATA SCIENCE/MY PROJECTS/SVM/Churn.csv')

In [97]:
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [98]:
churn.shape

(10000, 14)

# Dividing Data Set into Dependent and Independent Variables

In [99]:
x=churn.iloc[:,3:-1]
y=churn.iloc[:,[-1]]

In [100]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [101]:
y.head()

   Exited
0       1
1       0
2       1
3       0
4       0

# Performing OneHot Encoding Using Feature Engine

In [102]:
from feature_engine.categorical_encoders import OneHotCategoricalEncoder

In [103]:
ohe=OneHotCategoricalEncoder(drop_last=True,top_categories=None)

In [104]:
ohe.fit(x)

OneHotCategoricalEncoder(drop_last=True, variables=['Geography', 'Gender'])

In [105]:
x=ohe.transform(x)

In [106]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Spain,Gender_Female
0,619,42,2,0.00,1,1,1,101348.88,1,0,1
1,608,41,1,83807.86,1,0,1,112542.58,0,1,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,1
3,699,39,1,0.00,2,0,0,93826.63,1,0,1
4,850,43,2,125510.82,1,1,1,79084.10,0,1,1

In [107]:
x.shape

(10000, 11)

# Dividing Data Set into Training and Test Set

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [110]:
x_train.shape

(8000, 11)

# Scaling Features

In [111]:
from sklearn.preprocessing import MinMaxScaler

In [112]:
scaler=MinMaxScaler()

In [113]:
scaler.fit(x_train)

MinMaxScaler()

In [114]:
x_train=scaler.transform(x_train)

In [115]:
x_train.shape

(8000, 11)

In [116]:
x_test=scaler.transform(x_test)

In [117]:
x_test.shape

(2000, 11)

# Build NN Model

In [118]:
import keras

In [119]:
from keras.models import Sequential

In [120]:
from keras.layers import Dense

In [121]:
model=Sequential()

# Creating Structure of Neural Network Model

# Add Input Layer

In [122]:
from keras.layers import Dropout

In [123]:
model.add(Dense(input_dim=x_train.shape[1],kernel_initializer='he_uniform',activation='relu',units=30))
model.add(Dropout(0.2))

# Add Hidden Layer

In [124]:
model.add(Dense(kernel_initializer='he_uniform',activation='relu',units=30))
model.add(Dropout(0.2))

# Add Output Layer

In [125]:
model.add(Dense(kernel_initializer='random_uniform',activation='sigmoid',units=1))

# Compile the Model

In [126]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [127]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 30)                360
_________________________________________________________________
dropout_4 (Dropout)          (None, 30)                0
_________________________________________________________________
dense_7 (Dense)              (None, 30)                930
_________________________________________________________________
dropout_5 (Dropout)          (None, 30)                0
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 31
=================================================================
Total params: 1,321
Trainable params: 1,321
Non-trainable params: 0
_________________________________________________________________

# Train the NN Model

In [128]:
from keras.callbacks import EarlyStopping

In [129]:
model.fit(x_train,y_train,epochs=100,batch_size=32,validation_data=(x_test,y_test))

Epoch 1/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5180 - accuracy: 0.7893 - val_loss: 0.4715 - val_accuracy: 0.8025
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4804 - accuracy: 0.7960 - val_loss: 0.4530 - val_accuracy: 0.8025
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4695 - accuracy: 0.7964 - val_loss: 0.4472 - val_accuracy: 0.8105
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4615 - accuracy: 0.8030 - val_loss: 0.4372 - val_accuracy: 0.8140
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4530 - accuracy: 0.8050 - val_loss: 0.4338 - val_accuracy: 0.8135
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4455 - accuracy: 0.8081 - val_loss: 0.4253 - val_accuracy: 0.8230
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4426 - accuracy: 0.8099 - val_loss: 0.4221 - val_accuracy: 0.8250
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4387 - accuracy: 0.8096 - val_loss: 0.4185 - val_accuracy: 0.8220
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4349 - accuracy: 0.8136 - val_loss: 0.4166 - val_accuracy: 0.8300
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4286 - accuracy: 0.8150 - val_loss: 0.4117 - val_accuracy: 0.8305
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4247 - accuracy: 0.8188 - val_loss: 0.4097 - val_accuracy: 0.8285
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4236 - accuracy: 0.8199 - val_loss: 0.4091 - val_accuracy: 0.8370
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4193 - accuracy: 0.8227 - val_loss: 0.4036 - val_accuracy: 0.8435
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4153 - accuracy: 0.8242 - val_loss: 0.4011 - val_accuracy: 0.8420
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4134 - accuracy: 0.8249 - val_loss: 0.3986 - val_accuracy: 0.8415
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4126 - accuracy: 0.8282 - val_loss: 0.3966 - val_accuracy: 0.8425
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4087 - accuracy: 0.8261 - val_loss: 0.3948 - val_accuracy: 0.8445
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4105 - accuracy: 0.8274 - val_loss: 0.3932 - val_accuracy: 0.8455
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4094 - accuracy: 0.8288 - val_loss: 0.3905 - val_accuracy: 0.8465
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4024 - accuracy: 0.8331 - val_loss: 0.3891 - val_accuracy: 0.8455
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3961 - accuracy: 0.8335 - val_loss: 0.3880 - val_accuracy: 0.8485
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4020 - accuracy: 0.8311 - val_loss: 0.3841 - val_accuracy: 0.8475
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3988 - accuracy: 0.8332 - val_loss: 0.3813 - val_accuracy: 0.8510
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3938 - accuracy: 0.8336 - val_loss: 0.3792 - val_accuracy: 0.8525
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3913 - accuracy: 0.8372 - val_loss: 0.3767 - val_accuracy: 0.8525
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3862 - accuracy: 0.8381 - val_loss: 0.3743 - val_accuracy: 0.8555
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3853 - accuracy: 0.8386 - val_loss: 0.3715 - val_accuracy: 0.8545
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3846 - accuracy: 0.8407 - val_loss: 0.3700 - val_accuracy: 0.8565
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3814 - accuracy: 0.8376 - val_loss: 0.3674 - val_accuracy: 0.8575
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3793 - accuracy: 0.8438 - val_loss: 0.3669 - val_accuracy: 0.8555
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3744 - accuracy: 0.8456 - val_loss: 0.3654 - val_accuracy: 0.8570
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3719 - accuracy: 0.8454 - val_loss: 0.3627 - val_accuracy: 0.8575
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3707 - accuracy: 0.8464 - val_loss: 0.3637 - val_accuracy: 0.8600
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3689 - accuracy: 0.8461 - val_loss: 0.3605 - val_accuracy: 0.8570
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3697 - accuracy: 0.8450 - val_loss: 0.3599 - val_accuracy: 0.8585
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3668 - accuracy: 0.8515 - val_loss: 0.3595 - val_accuracy: 0.8595
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3691 - accuracy: 0.8479 - val_loss: 0.3573 - val_accuracy: 0.8620
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3684 - accuracy: 0.8462 - val_loss: 0.3573 - val_accuracy: 0.8585
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3621 - accuracy: 0.8521 - val_loss: 0.3568 - val_accuracy: 0.8625
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3676 - accuracy: 0.8486 - val_loss: 0.3572 - val_accuracy: 0.8570
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3649 - accuracy: 0.8508 - val_loss: 0.3560 - val_accuracy: 0.8620
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3647 - accuracy: 0.8509 - val_loss: 0.3561 - val_accuracy: 0.8605
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3633 - accuracy: 0.8506 - val_loss: 0.3562 - val_accuracy: 0.8625
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3631 - accuracy: 0.8506 - val_loss: 0.3564 - val_accuracy: 0.8615
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3660 - accuracy: 0.8535 - val_loss: 0.3552 - val_accuracy: 0.8620
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3702 - accuracy: 0.8462 - val_loss: 0.3557 - val_accuracy: 0.8615
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3643 - accuracy: 0.8514 - val_loss: 0.3544 - val_accuracy: 0.8625
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3675 - accuracy: 0.8493 - val_loss: 0.3559 - val_accuracy: 0.8620
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3617 - accuracy: 0.8521 - val_loss: 0.3537 - val_accuracy: 0.8620
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8524 - val_loss: 0.3542 - val_accuracy: 0.8635
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3633 - accuracy: 0.8524 - val_loss: 0.3560 - val_accuracy: 0.8630
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3578 - accuracy: 0.8529 - val_loss: 0.3531 - val_accuracy: 0.8625
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3604 - accuracy: 0.8549 - val_loss: 0.3529 - val_accuracy: 0.8625
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3591 - accuracy: 0.8565 - val_loss: 0.3529 - val_accuracy: 0.8610
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3571 - accuracy: 0.8514 - val_loss: 0.3539 - val_accuracy: 0.8630
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3602 - accuracy: 0.8505 - val_loss: 0.3557 - val_accuracy: 0.8635
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3644 - accuracy: 0.8503 - val_loss: 0.3527 - val_accuracy: 0.8610

Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3612 - accuracy: 0.8491 - val_loss: 0.3556 - val_accuracy: 0.8620
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3607 - accuracy: 0.8518 - val_loss: 0.3526 - val_accuracy: 0.8615
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3573 - accuracy: 0.8553 - val_loss: 0.3519 - val_accuracy: 0.8605
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3551 - accuracy: 0.8570 - val_loss: 0.3519 - val_accuracy: 0.8625
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3614 - accuracy: 0.8556 - val_loss: 0.3500 - val_accuracy: 0.8615
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3580 - accuracy: 0.8543 - val_loss: 0.3503 - val_accuracy: 0.8630
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3585 - accuracy: 0.8537 - val_loss: 0.3507 - val_accuracy: 0.8630
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8545 - val_loss: 0.3509 - val_accuracy: 0.8620
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3574 - accuracy: 0.8553 - val_loss: 0.3496 - val_accuracy: 0.8630
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3549 - accuracy: 0.8559 - val_loss: 0.3489 - val_accuracy: 0.8620
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3550 - accuracy: 0.8543 - val_loss: 0.3504 - val_accuracy: 0.8620
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3557 - accuracy: 0.8565 - val_loss: 0.3510 - val_accuracy: 0.8580
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3544 - accuracy: 0.8551 - val_loss: 0.3492 - val_accuracy: 0.8610
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3534 - accuracy: 0.8564 - val_loss: 0.3495 - val_accuracy: 0.8635
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3581 - accuracy: 0.8550 - val_loss: 0.3495 - val_accuracy: 0.8625
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3556 - accuracy: 0.8583 - val_loss: 0.3487 - val_accuracy: 0.8590
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3532 - accuracy: 0.8553 - val_loss: 0.3488 - val_accuracy: 0.8630
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3555 - accuracy: 0.8541 - val_loss: 0.3479 - val_accuracy: 0.8635
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3530 - accuracy: 0.8547 - val_loss: 0.3473 - val_accuracy: 0.8625
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3538 - accuracy: 0.8575 - val_loss: 0.3468 - val_accuracy: 0.8645
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3498 - accuracy: 0.8571 - val_loss: 0.3474 - val_accuracy: 0.8620
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3520 - accuracy: 0.8560 - val_loss: 0.3473 - val_accuracy: 0.8640
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3523 - accuracy: 0.8562 - val_loss: 0.3461 - val_accuracy: 0.8635
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3531 - accuracy: 0.8561 - val_loss: 0.3494 - val_accuracy: 0.8630
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3515 - accuracy: 0.8589 - val_loss: 0.3462 - val_accuracy: 0.8665
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3483 - accuracy: 0.8568 - val_loss: 0.3461 - val_accuracy: 0.8665
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3520 - accuracy: 0.8526 - val_loss: 0.3456 - val_accuracy: 0.8655
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8590 - val_loss: 0.3449 - val_accuracy: 0.8655
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3517 - accuracy: 0.8577 - val_loss: 0.3452 - val_accuracy: 0.8650
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3561 - accuracy: 0.8556 - val_loss: 0.3470 - val_accuracy: 0.8645
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3508 - accuracy: 0.8546 - val_loss: 0.3448 - val_accuracy: 0.8620
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8572 - val_loss: 0.3438 - val_accuracy: 0.8635
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3519 - accuracy: 0.8565 - val_loss: 0.3448 - val_accuracy: 0.8660
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8593 - val_loss: 0.3458 - val_accuracy: 0.8645
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3547 - accuracy: 0.8544 - val_loss: 0.3465 - val_accuracy: 0.8630
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8606 - val_loss: 0.3445 - val_accuracy: 0.8630
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8611 - val_loss: 0.3440 - val_accuracy: 0.8635
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3494 - accuracy: 0.8596 - val_loss: 0.3432 - val_accuracy: 0.8635
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3436 - accuracy: 0.8604 - val_loss: 0.3434 - val_accuracy: 0.8655
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3494 - accuracy: 0.8589 - val_loss: 0.3442 - val_accuracy: 0.8650
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3466 - accuracy: 0.8584 - val_loss: 0.3442 - val_accuracy: 0.8625
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3498 - accuracy: 0.8591 - val_loss: 0.3441 - val_accuracy: 0.8635
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3502 - accuracy: 0.8561 - val_loss: 0.3433 - val_accuracy: 0.8620

# Prediction

In [130]:
y_pred=model.predict(x_test)

In [131]:
y_pred

array([[0.2265358 ],
       [0.0280242 ],
       [0.6626089 ],
       ...,
       [0.03589571],
       [0.24455366],
       [0.05088553]], dtype=float32)

In [132]:
y_pred=y_pred>=0.5

In [133]:
y_pred

array([[False],
       [False],
       [ True],
       ...,
       [False],
       [False],
       [False]])

In [134]:
from sklearn.metrics import accuracy_score

In [135]:
accuracy_score(y_test,y_pred)

0.862

#    Save NN Model

In [136]:
model.save('bank1.h5')

In [137]:
pip install joblib

Requirement already satisfied: joblib in c:\users\arun\anaconda3\envs\arun\lib\site-packages (0.16.0)
Note: you may need to restart the kernel to use updated packages.

In [138]:
import joblib
joblib.dump(scaler,'bank1_scaler.save')

['bank1_scaler.save']

In [139]:
joblib.dump(ohe,'bank1_category.save')

['bank1_category.save']