In [86]:
import keras
import numpy as np
import joblib
import pandas as pd

In [87]:
from keras.models import load_model

In [88]:
model=load_model('bank1.h5')

In [89]:
sc=joblib.load('bank1_scaler.save')

In [90]:
ohe=joblib.load('bank1_category.save')

In [91]:
data={'CreditScore':608,'Geography':'Spain','Gender':'Female','Age':41,'Tenure':1,
      'Balance':83807.86,'NumOfProducts':1,'HasCrCard':0,'IsActiveMember':1,'EstimatedSalary':112542.58}

In [92]:
predict1=pd.DataFrame(data,index=[0])

In [93]:
predict1

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,608,Spain,Female,41,1,83807.86,1,0,1,112542.58

In [94]:
predict=ohe.transform(predict1)

In [95]:
predict

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Spain,Gender_Female
0,608,41,1,83807.86,1,0,1,112542.58,0,1,1

In [97]:
model.predict(sc.transform(predict))>0.5

array([[False]])